body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;

    align-items: center;

}


.container {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}


h1 {
    color: #ffffff;
}


label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

body,
h1,
h2,
p,
ul,
li,
form,
label,
input,
textarea,
button,
address {
    margin: 0;
    padding: 0;
}

.botao {
    background-color: #fff;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

header {

    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
    background: linear-gradient(#000000, #333);

}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    vertical-align: top;
    display: inline-block;
    margin-top: -100px;
}

main {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

.contato {
    margin-bottom: 20px;
}

.contato h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.address p {
    font-size: 16px;
    margin: 10px 0;
}

.formulario h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.formulario button a {
    color: rgb(255, 255, 255);
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.botao {
    color: #f3f3f3;
}

.logo {
    width: 15%;
    left: 2%;
    top: 2%;
    padding-right: 1500px;

}